/*Стили для кнопок вперед  и назад, которые переключают экраны */

.arrows__wrap {
  position: absolute;
  top: 95px;
  left: 50%;
  margin-left: -56px;
}

.arrows__btn {
  background: none;
  border: 2px solid black;
  padding: 5px 20px;
}
